body {
    background-color: #585858;
}

/* Home page */
main > section.page-front{
    padding: 60px;
}

main > div.carousel {
    max-height: 500px;
    padding-bottom: 40px;
}

.ListOfItems {
    padding: 60px;
}

.homeTitle {
    color: #9b9d9e;
    padding-right: 1em;
}

.homeTitle:hover {
    color: #c7c8c9;
    transition: 0.15s;
}

p.text-white {
    color: white;
    text-align: start;
}

div.h1-white-bold {
    text-align: start;
    color: white;   
}

img.bordered-img {
    border: white solid 2px;
    height: 300px;
    width: auto;
    -webkit-border-radius: 90px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius: 90px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-radius: 90px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img.bordered-img-reversed {
    border: white solid 2px;
    height: 300px;
    width: auto;
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 90px;
    -webkit-border-bottom-right-radius: 90px;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 90px;
    -moz-border-radius-bottomright: 90px;
    border-radius: 10px;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.front-page-paragraph {
    padding-top: 20px;
}

/* About page */
section.summary {
    padding: 50px;
    
}

section.content {
    padding: 40px;
}

ul.Summary li {
    list-style: none; 
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 6px;
    margin: 5px;
}

ul.Summary a {
    list-style: none;
    text-decoration: none;
    color: black;
}

ul.Summary a:hover {
    color: rgb(185, 185, 185);
    transition: 0.3s;
}

/* Dashboard page */
.dashboardContent {
    padding-top: 40px;
}

div.dark-Sidenav {
    background-color: #212529;
    color: white;
    border-radius: 30px;
}

ul.sidenav-links {
    align-content: center;
}

ul.sidenav-links > li.sidenav-item:not(:last-child) { 
    margin-top: 3px;
    margin-bottom: 3px;  
 }

ul.sidenav-links > li > a {
    list-style: none;
    text-decoration: none;
    color: white;
}

ul.sidenav-links li{
    list-style: none;
}

ul.sidenav-links > li > a:hover {
    color: aqua;
    transition: 0.6s;
}

.curriculumTables {
    background-color: rgb(204, 204, 204);
}

.table {
    margin-bottom: 0;
}

